.hero-img {
  background: rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-img > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-position: center center;
  object-fit: contain;
}

.hero-img .heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-img h1 {
  font-size: 2.4rem;
}

.hero-img p {
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
}
